

/*Funcion de los colores de la pagina*/
:root{
    --azul:#10439F;
    --morado:#874CCC;
    --moradoB:#E4B1F0;
    --moradoF:#BF2EF0;
    --mRosa:#C65BCF;
    --rosa:#F27BBD;
    --rosaC:#FFCBCB;
    --amarillo:#FEECB3;
    --parrafo:#FFF6EA;
    --blanco:#FAFAFA;
    --b2:#FFF6EA;
    --negro:#1D242B;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-stop: y mandatory;
    scroll-behavior: smooth; /* Desplazamiento suave */
}


*,*:before, *:after{
    box-sizing: inherit;
}

head{
    display: none;
}

body{
    height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la ventana */
    background: radial-gradient(circle, #10439F, #C65BCF); /* Degradado radial */
}

/*botones*/
.boton{
    background-color: var(--moradoF);
    color:var(--blanco);
    padding: 1rem 2rem;
    margin-top: 0.4rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Verdana;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width:768px) {
    .boton{
        width: auto;
    }

}

.boton:hover{
    cursor:pointer;
}

html, body{
    overflow-x: hidden; 
    width: 100%; 
}
/*utilidades*/
.w-sm-100{
    width: 100%;
}

@media (min-width:768px) {
    .w-sm-100{
        width: auto;
    }
}

/*Formato para la barra de navegacion*/
.contenedor{
    display: flex;
    justify-content:space-around; /* Alinear todo a la izquierda */
    align-items: center; /* Alinear verticalmente */
    gap: 0.5rem; /* Espacio entre el logo y la navegación */
    width: 100%;
    margin: 1.2rem; /* Añadir espacio superior e inferior */
}


/*Barra denavegacion y su fondo*/
.nav-bg{
    background-color: var(--mRosa);
    padding: 0.1rem;
}

.nav-principal-cont{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.nav-principal-cont a{
    font-family: 'Montserrat', sans-serif;
    color:#2E073F;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.nav-principal-cont a:hover {
    background-color: var(--mRosa); /* Cambia el color de fondo al pasar el cursor */
    color: white; /* Cambia el color del texto al pasar el cursor */
    border-radius: 5px; /* Agrega esquinas redondeadas al fondo */
}

/*h1 y h2*/
.texto_nombre{
    color:var(--blanco);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw; /* Ajusta el tamaño del texto según el ancho de la pantalla */
}

.texto_nombre h2, h3{
    text-align: center;
    align-items: center;
}

.texto_nombre span{
    color:var(--amarillo);
}


.H1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    margin: 10rem 0 0; /* Espacio inferior */
    transition: transform 0.3s ease; /* Transición suave */
    background: linear-gradient(270deg,var(--blanco),var(--moradoB),var(--amarillo)); /* Degradado de color */

    background-size: 400% 400%; /* Tamaño del fondo para que tenga espacio para moverse */
    -webkit-background-clip: text; /* Clip para que el degradado solo se aplique al texto */
    color: transparent; /* Hace que el texto en sí sea transparente para mostrar el fondo */
    animation: moveColor 8s ease infinite; /* Animación infinita para mover el degradado */
}

@keyframes moveColor {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.H1:hover {
    transform: scale(1.5); /* Aumenta el tamaño */
}

.H2{
    font-family: 'Garamond', serif;
    font-size: 2.5rem;
    margin: 0; /* Elimina el margen por defecto */
    color:antiquewhite;
}

.H2.contactoH2{
    font-size:3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.H3{
    font-family: 'Garamond', serif;
    font-size: 2.5rem;
    color: var(--blanco);
    margin: 5rem 0 0; /* Espacio inferior */
    text-align: center; /* Centrar el texto */
    font-weight:bold;
}

.H4{
    font-family: 'Garamond', serif;
    font-size:2rem;
    color: var(--b2);
    margin: 5rem 0 0; /* Espacio inferior */
    text-align: center; /* Centrar el texto */
    font-weight:bold;
}

/*imagen*/
.imagenPerfil{
    width: 40rem; /* Ancho del contenedor de la imagen */
    height: 40rem; /* Alto del contenedor de la imagen */
    background-image: url(../imagenes/Imagen6.png);
    background-size: cover; /* Asegura que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
    margin-top: 1rem; /* Espacio entre el H2 y la imagen */
}


/* Contenedor principal para los recuadros */
.recuadro_principal {
    display:flexbox; 
    /* Usar Flexbox para alinear los recuadros */
    justify-content: space-between; 
    /* Espacio entre los recuadros */
    max-width: 120rem;
    margin: 5rem auto; /* Espacio superior e inferior */
}

.recuadro_cont{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-align: justify;

    flex-basis: 300%; /* Más pequeño (35% del ancho del contenedor) */
    max-width:120rem;
    margin: 2rem;
    box-shadow: 0px 5px 15px 0px var(--blanco);
    background-color: var(--morado);
    padding: 5rem;
    border-radius: 1rem;
    line-height:1.9; 
    /*transition: transform 0.3s ease; /* Transición suave */
}

/*.recuadro_cont:hover {
    transform: scale(1.1); /* Aumenta el tamaño 
}*/

.recuadro_redes{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-align: justify;

    flex-basis: 300%; /* Más pequeño (35% del ancho del contenedor) */
    max-width:120rem;
    padding: 2.5rem;
    margin: 2.5rem;
    height: 25rem;

    /* Border solo en el lado derecho */
    border-left: 5px solid var(--blanco); /* Ajusta el grosor y color del borde */

    /* Degradado de fondo */
    background: linear-gradient(270deg, var(--morado), var(--moradoF));
}


.H3.iconLado{
    text-align:left;
}


p,ol,ul{
    font-family: 'Krona One', sans-serif;
    font-size: 1.6rem;
    color:var(--parrafo);
    margin-bottom: 3rem; /* Espacio entre los elementos de la lista */

    list-style-position: inside; /* Asegura que los números estén dentro del recuadro de la lista */
    padding-left: 0; /* Elimina cualquier padding adicional por defecto */
    font-family: 'Krona One', sans-serif;
    font-size: 1.6rem;
    color:var(--parrafo);

    
}

.contendor-imagenes{
    display: flex;            /* Alinear los iconos en fila */
    justify-content: center;   /* Centrar los iconos */
    gap: 1.2rem;                /* Espacio entre los iconos */
    padding:0.2rem;
    /*diseño responsive*/
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en múltiples filas en pantallas pequeñas */
}

.imagenes.primeraTech{
    width: 25rem; /* Ancho del contenedor de la imagen */
    height: 15rem; /* Alto del contenedor de la imagen */
    background-image: url(../imagenes/tecn.png);
    background-size: cover; /* Asegura que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
    margin-top: 0.5rem; /* Espacio entre el H2 y la imagen */

}

.imagenes.segundaUd{
    width: 15rem; /* Ancho del contenedor de la imagen */
    height: 15rem; /* Alto del contenedor de la imagen */
    background-image: url(../imagenes/udemy.png);
    background-size: cover; /* Asegura que la imagen cubra el área */
    background-position:center; /* Centra la imagen */
    margin-top: 0.5rem; /* Espacio entre el H2 y la imagen */
}

.imagenes.terceraO{
    width: 25rem; /* Ancho del contenedor de la imagen */
    height: 10rem; /* Alto del contenedor de la imagen */
    background-image: url(../imagenes/aluraO.png);
    background-size: cover; /* Asegura que la imagen cubra el área */
    background-position:center; /* Centra la imagen */
    margin-top: 0.5rem;
}


/*ICONOS*/
/* Contenedor de los iconos */
.icon-container {
    display: flex;            /* Alinear los iconos en fila */
    justify-content: center;   /* Centrar los iconos */
    gap: 2rem;                /* Espacio entre los iconos */
    padding: 1rem;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en múltiples filas en pantallas pequeñas */
   
}

/* Estilos para los SVG iconos */
.icon {
    width: 8rem;              /* Ajusta el tamaño del icono */
    height: 5rem;
    fill: var(--azul);        /* Cambia el color de relleno del icono */
    transition: transform 0.3s ease, fill 0.3s ease; /* Transición suave para hover */
    margin:0;
    padding: 0;
}

/* Efecto hover en los iconos */
.icon:hover {
    transform: scale(1.2);    /* Aumenta el tamaño al hacer hover */
    fill: var(--blanco);      /* Cambia el color del icono al hacer hover */
}



/* Media query para pantallas pequeñas -> RECUADRPS*/
@media (max-width: 768px) { /* Ajusta este valor según tu diseño */
    .recuadro_principal {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: center; /* Centra los recuadros en el contenedor */
    }
    
    .recuadro_cont {
        max-width: 100%; /* Ancho completo en pantallas pequeñas */
        margin: 1rem 0; /* Espacio vertical entre recuadros */
    }
}


/*FORMYLARIO*/
.formulario{
    background-color: var(--azul);
    width:min(60rem,100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.H5{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    color:var(--parrafo);
    margin-top: 3rem ;
    font-weight: 700;
}


.legend{
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    padding: 2rem;
    color:var(--amarillo);
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width:768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;

    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo.label{
    color:var(--negro);
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: block;
    font-size: 1.3rem;
    font-family: 'Krona One', sans-serif;
}

.campo.textarea{
    margin: 1rem;
    height: 20rem;
    font-family: 'Krona One', sans-serif;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: .5rem;
}

/*Footer*/

.cont_final span{
    color:var(--amarillo);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cont_final{
    min-height: calc(60vh - 60px - 70px); /* Altura mínima del contenedor */
    background: linear-gradient(270deg,var(--moradoB),var(--morado),var(--rosa),var(--rosaC)); /* Cambia los colores según tu preferencia */
    background-size: 400% 400%; /* Aumenta el tamaño del fondo para crear el efecto de movimiento */
    animation: gradientAnimation 15s ease infinite; /* Aplica la animación */
    padding: 10rem; /* Espacio interno */
    margin-top: 5rem;
}

.footer p {
    height: 10rem; /* Altura del footer */
    background-color:var(--morado); /* Color de fondo del footer */
    color:var(--blanco); /* Color del texto del footer */
    text-align: center; /* Centrar el texto */
    padding: 15px; /* Espacio interno */
    font-family: 'Merriweather';
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.H2.foot{
    font-family:'Garamond', serif;
    font-size: 4rem;
}

/*__________________________________________ESTILOS DE LA PAGINA DE PORTAFOLIO___________________________________________________________*/

.b1{
    background-color:#7E60BF;
}

.p1{
    background: radial-gradient(circle,#7E60BF,#FFE1FF); /* Degradado radial */
}

.nav-principal-cont 
.n1:hover {
    background-color:#7E60BF; /* Cambia el color de fondo al pasar el cursor */
}

.proyectos_h1{
    font-size: 10vw;
}

.proyectosH2{
    text-align: center;
    font-size: 3.2rem;
}

/*IMAGENES DE LOS PROYECTOS*/

.recProyectos{
    text-align: center;
    justify-content: center;
    background-color:var(--morado);

}


.contenedor-imagenesProyectos{
    width: 100%;        /* El contenedor ocupará todo el ancho disponible */
    max-width: 500px;   /* El contenedor no será más grande de 500px */
    margin: 0 auto;  
    margin-top: 2rem;
}

.imagenProyecto{
    width: 100%;        /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto;       /* Mantiene la proporción de la imagen */
    max-width: 500px;   /* Tamaño máximo para que no se agrande más allá de 500px */
    transition: transform 0.3s ease; /* Animación suave al hacer hover */
    border-radius: 1rem;

    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
    
    padding: 0;
    margin: 0;

    display: block; /* Elimina cualquier espacio en línea por defecto */
}

.imagenProyecto:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

/* Estilos para la cuadrícula en pantallas grandes */
.contenedor-cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los cuadros */
    padding: 20px;
  }
  
  
  /* Estilos para los cuadros */
.cuadro {
    background-color: #874CCC; /* Color de fondo de los cuadros */
    padding: 40px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    text-align:justify;
    margin-top: 0;
    line-height:1.9; 
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .contenedor-cuadricula {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 480px) {
    .contenedor-cuadricula {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas (cuadros apilados) */
    }
  }

.P2{
    background-color:#86469C;
}

.P3{
    background-color:#433878;
}

.h2Proc{
    text-align: center;
}

.h3_pn{
    margin-top: 25rem;
    font-family: 'Cascadia Code', monospace;
}

.h3_p2{
    margin-top: 0;
}

.nw1{
    background-color:#2E073F;
}

.nw2{
    background-color:#7A1CAC;

}

.nw3{
    background-color:#C68FE6;

}

/*___________________________________PASATIEMPOS_____________________________________________________________________________________________*/

/*Barra de navegación*/
.pasatiemposBody{
    background: radial-gradient(circle,#252525,#6930C3,#80FFDB); /* Degradado radial */
}

.barraNavPasa{
    background-color:#6930C3;
}

.colorNavPas{
    color: #80FFDB;
}
.nav-principal-cont 
.n2:hover {
    background-color:#6930C3; /* Cambia el color de fondo al pasar el cursor */
}

.pasatiempos_h1{
    font-size: 10vw;

}

.pasatiemposCuadricula{
    grid-template-columns: repeat(3, 1fr);

}

.circulosCuadricula{
    border-radius:30rem;
    width: 100%;              /* Ajusta el ancho del círculo al contenedor */
    height: 0;
    margin: 0;
    padding:0;

    justify-content: center;
    align-items: center;
    overflow: hidden;            /* Asegurar que la imagen no salga del círculo */
    padding-bottom: 100%;         /* Altura igual al ancho para mantener la forma circular */
    position:relative;
    
    
   
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajustar la imagen para cubrir todo el círculo*/
}

.musica{
    margin-top: 0;
}

.pasatiemposH2{
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 5rem;
    font-size: 8rem;
}

.cuadro span{
    color:#80FFDB;
    font-family: 'Garamond', serif;
    font-size: 2rem;
    line-height: 2rem; 
}

.imgFraseMusica{
    background-color:transparent;
}

.circulo1{
    background-color:#ead7d0;
}

.circulo2{
    background-color: #E4B1F0;
}

.circulo3{
    background-color: #5c6471;
    ;
}


.rectangulo{
    line-height:1.9; 
    grid-template-columns: repeat(1, 1fr)
    
}

.lista{
    text-align: center;
}
